.container {
  width: 100%;
  height: fit-content;
  min-height: 120vh;
  background: #161616;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding-bottom: 10em;
}

.container h1 {
  padding-top: 1.5em;
  text-align: center;
  font-size: 4em;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.container .imgRow {
  display: grid;
  width: 70vw;
  grid-template-columns: 30% 70%;
  height: fit-content;
}

.container .imgRow img {
  height: 12em;
}

.dataRow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: fit-content;
}

.dataRow h2 {
  color: #fff;
  font-size: 2.2em;
  font-family: 'Roboto', sans-serif;
}
.dataRow h3 {
  color: #fff;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  margin: 3px;
}

.kv {
  display: grid;
  grid-template-columns: 25% 75%;
  margin-bottom: 20px;
}

.dataRow p {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  margin: 3px;
}

.dataRow h5 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin: 3px;
}

.dataRow.extended {
  width: 40vw;
  margin-left: 15px;
  padding-bottom: 30px;
}
.kv img {
  height: 8em !important;
}
