.container {
  width: 100vw;
  background: #0f1019;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding-bottom: 2em;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container h1 {
  padding-top: 1.5em;
  text-align: center;
  font-size: 4em;
}
.container h3 {
  text-align: center;
  font-size: 1.5em;
}

.equipmentBox {
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.equipmentCard {
  width: 45%;
  height: 250px;
  background: #262626;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  display: grid;
  gap: 5px;
  grid-template-rows: 25% 65% 10%;
  text-overflow: fade;
}

.equipmentCard:hover {
  box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.6);
  transform: scale(1.02);
}

.equipmentCard h2 {
  text-align: center;
  font-size: 1.6em;
}
.equipmentCard .contentBox {
  width: 100%;
  display: grid;
  overflow: hidden;
  grid-template-columns: 40% 60%;
  place-items: center;
}
.equipmentCard .contentBox .image {
  width: 70%;
  height: auto;
}
.equipmentCard .contentBox .description {
  width: 100%;
  text-wrap: normal;
}
.equipmentCard p {
  font-size: 1.5em;
  align-self: flex-end;
  margin-left: 20px;
}

@media only screen and (max-width: 680px) {
  .equipmentBox {
    width: 100%;
  }
  .equipmentCard {
    width: 90%;
  }
}
