.footerContainer {
  height: 50px;
  background: #0f1019;
  width: 100vw;
  position: fixed;
  left: 0;
  margin: 0;
  padding: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid white;
}
.footerContainer p {
  color: #bb9af7;
  margin-left: 5%;
}
.extraLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  gap: 10px;
}

.extraLinks a {
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
  border: 1px solid #bb9af7;
  height: fit-content;
  padding: 5px;
}
.extraLinks a p {
  margin: 0;
}
.extraLinks a:hover {
  border-color: white;
}
