.footerContainer {
  height: 50px;
  background: #232323;
  width: 100vw;
  position: fixed;
  left: 0;
  margin: 0;
  padding: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footerContainer p {
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-left: 5%;
}
.extraLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  gap: 10px;
}

.extraLinks p {
  color: #9d9d9d;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
}
.extraLinks p:hover {
  color: white;
}
