.footerContainer {
  height: 50px;
  background: #232323;
  width: 100vw;
  position: fixed;
  left: 0;
  margin: 0;
  padding: 0;
  bottom: 0;
  z-index: 2;
  display: grid;
  place-items: center;
  grid-template-columns: 40% 60%;
}
.footerContainer p {
  color: white;
  font-family: 'Roboto', sans-serif;
  place-self: flex-start;
  margin-left: 5%;
}
