body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background: #0f1019;
}

img {
  width: auto;
  height: auto;
}

svg {
  width: auto;
  height: auto;
}
@import 'jetbrains.scss';
* {
  font-family: 'Jetbrains Mono', monospace;
  color: #a9b1d6;
}

h1,
h2 {
  color: #bb9af7;
}
h3,
h4 {
  color: #7aa2f7;
}
