.container {
  width: 100%;
  background: #0f1019;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0 10em;
}

.container h1 {
  padding-top: 1.5em;
  text-align: center;
  font-size: 4em;
  margin-bottom: 2em;
}

.box {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.elementBox {
  width: 30vw;
  min-height: 250px;
  border-radius: 5px;
  border: 1px solid #49519a;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
  background-color: #1a1b2b;
  transition: 0.3s;
}

@media only screen and (max-width: 880px) {
  .box {
    flex-direction: column;
  }
  .elementBox {
    width: 80vw;
  }
}

.elementBox:hover {
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
  transform: scale(1.05);
}

.elementBox h2 {
  font-size: 1.4em;
  margin-bottom: 1em;
  text-align: center;
}

.field {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  margin-bottom: 0.8em;
  text-align: left;
  width: 100%;
}

.fieldValue {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.8em;
  text-align: left;
}

.icon {
  font-size: 1.2em;
  margin-bottom: 0.2em;
  color: #6b57a1;
}

.label {
  font-weight: bold;
  margin-bottom: 0.2em;
  font-size: 0.9em;
}

.value {
  font-size: 0.9em;
  word-break: break-all; // to handle long fingerprints
}
