$containerHeight: 60px;
$navboxHeight: 60px;
.container {
  width: 100vw;
  height: $containerHeight;
  background: #0e0e0e;
  display: flex;
  flex-direction: row;
  margin: 0;
  position: fixed;
  align-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.container svg {
  width: 45px !important;
  height: 45px !important;
  padding: 2px;
}

.navBox {
  width: 150px;
  height: $navboxHeight;
  text-align: center;
  color: white;
  font-size: 30px;
  line-height: $navboxHeight;
  text-decoration: none;
  display: block;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #1b6fec 50%, #0e0e0e 50%);
  -webkit-transition: background-position 0.3s;
  -moz-transition: background-position 0.3s;
  transition: background-position 0.3s;
  background-position: 0 -100%;
  cursor: pointer;
}

.navBox:hover {
  background-position: 0 0;
}

@keyframes animateNavBoxHover {
  0% {
    background-image: #0e0e0e;
  }
  50% {
    background-image: linear-gradient(to right, #1b6fec, #0e0e0e);
  }
  100% {
    background-image: #1b6fec;
  }
}

@keyframes dropdownAnimation {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}

.active {
  background: #1b6fec;
}

.active:hover {
  animation: none;
}

.dropdown {
  display: none;
  width: 40px;
  height: 40px;
  color: white;
  //padding: 3px 3px 3px 3px;
  margin-left: 10px;
  background: #292929;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 3%;
}

.linkBox {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

@media only screen and (max-width: 680px) {
  .openDropdown {
    animation-name: dropdownAnimation;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
  }
  .navBox {
    width: 45vw;
    margin-left: 0;
    background: #0e0e0e;

    font-size: 1.2em;
    color: white;
    position: relative;
    height: 40px;
    line-height: 40px;
  }
  .active {
    color: white;
    background: #1b6fec;
  }
  .dropdown {
    display: block;
  }
  .linkBox {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    height: 100vh;
    background: #0e0e0e;
  }
}
