.header {
  background: #0f1019;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #bb9af7;
}

.nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav a {
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
  height: fit-content;
  padding: 5px;
  text-decoration: none;
  color: #bb9af7;
}
.nav a:hover {
  color: white;
  transition: 0.5s;
}

/* Hamburger icon */
.menuToggle {
  display: none;
  cursor: pointer;
}

/* Mobile styles */
@media (max-width: 768px) {
  .nav {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    text-align: center;
    background: inherit;
    padding-bottom: 10px;
    z-index: 1000;
    border-bottom: 1px solid #a9b1d6;
  }

  .nav.open {
    display: flex;
  }

  .nav a {
  }

  .menuToggle {
    display: flex;
  }
}
