.bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url('../public/coding.jpg'), url('../public/grandma3.jpeg');
  background-position: top left, bottom right;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scale(1.02);
  filter: blur(6px);
  -webkit-filter: blur(6px);
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  width: 101vw;
  overflow: scroll;
}

.container h1 {
  font-family: 'Roboto', sans-serif;
  padding-top: 40vh;
  width: 80%;
  color: white;
  font-size: 3.5em;
  text-align: center;
  animation-fill-mode: forwards;
  animation-name: textAnimation;
  animation-duration: 2s;
  opacity: 0;
  top: 20px;
  position: relative;
  margin-bottom: 0;
}
.container h1 span {
  color: rgb(33, 150, 243);
  filter: drop-shadow(rgb(0, 119, 255) 0px 0px 12px);
}

.container.noAnimation h1 {
  animation-duration: 0ms !important;
  animation-delay: 0s !important;
}

.container p {
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
  width: 80%;
  font-size: 1.5em;
  animation-fill-mode: forwards;
  animation-name: textAnimation;
  animation-duration: 2s;
  animation-delay: 0.2s;
  opacity: 0;
  top: 20px;
  position: relative;
  margin-top: 0;
  padding-bottom: 10vh;
}
.container.noAnimation p {
  animation-duration: 0ms !important;
  animation-delay: 0s !important;
}


.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 100px;
}

.arrows path {
  stroke: #bfbfbf;
  fill: transparent;
  stroke-width: 3px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

.section {
  width: 85vw;
  padding-right: 10.5vw;
  padding-left: 10.5vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #161616;
  padding-bottom: 1em;
}

.section:last-child {
  padding-bottom: 85px;
}

.section .split {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 5vw;
}

.section .split img {
  max-width: 15vw;
  object-fit: contain;
}

.section .split p {
  min-width: 30vw;
  max-width: 70%;
}

.section .tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.section .tools img {
  width: 100px;
  height: 100px;
}

.section.first {
  padding-top: 4em;
  margin-top: 15em;
}

.section h2 {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
}

.section p {
  width: 100%;
  text-align: left;
}

@media only screen and (max-width: 770px) {
  .container {
    padding-bottom: 3em;
  }
}


@keyframes imageAnimation {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes textAnimation {
  0% {
    top: 20px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@media only screen and (max-width: 460px) {
  .container h1 {
    font-size: 3em;
  }
}

@media only screen and (max-width: 930px) {
  .container .section .split p {
    min-width: 70vw;
  }
  .container .section .split img {
    height: 35vh;
    min-width: 100%;
  }
}
