.bg {
    background-image: url("../public/home-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scale(1.02);
}

.container {
    filter: none;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    height: 100vh;
}

.profileBox {
    width: 500px;
    height: 500px;
    background: #343434;
    position: absolute;
    right: 300px;
}

.profilePictureBox {
    width: 500px;
    height: 500px;
    background-image: url("../public/me.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: -50px -50px auto auto;
}
