.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.row p {
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-left: 3px;
  font-weight: bold;
}

.golangCircle {
  background: #2b77d7;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.angularCircle {
  background: #c40721;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.nextjsCircle {
  background: #258a0f;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.rustCircle {
  background: #947a5a;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.reactCircle {
  background: #088794;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.cppCircle {
  background: #f34b7d;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.elixirCircle {
  background: #6e4a7e;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.svelteCircle {
  background: #ff3e00;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.scssCircle {
  background: #c85b91;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.phpCircle {
  background: #4f5d95;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.muiCircle {
  background: #253aac;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.vueCircle {
  background: #15c458;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.typescriptCircle {
  background: #157ec4;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.csharpCircle {
  background: #2e7923;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.twigCircle {
  background: #ab991b;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
