.container {
  width: 100%;
  background: #161616;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding-bottom: 10em;
}

.container h1 {
  padding-top: 1.5em;
  text-align: center;
  font-size: 4em;
  color: white;
}
.container h3 {
  text-align: center;
  font-size: 1.5em;
  color: white;
}

.projectBox {
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.projectCard {
  width: 30%;
  min-height: 200px;
  height: fit-content;
  background: #262626;
  border-radius: 5px;
  margin: 10px 10px 10px 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  text-overflow: fade;
}

.projectCard:hover {
  box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.6);
  transform: scale(1.02);
}

.projectCard h2 {
  text-align: center;
  color: white;
  font-size: 1.6em;
}

.projectCard p {
  text-align: center;
  color: white;
  margin: 2px;
}

.langRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin: auto 1em 2px 1em;
  gap: 1em;
  position: relative;
  padding-bottom: 5px;
}

@media only screen and (max-width: 680px) {
  .projectBox {
    width: 90%;
  }
  .projectCard {
    width: 100%;
  }
}
