.container {
  width: 100vw;
  background: #0f1019;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding-bottom: 2em;
  overflow: hidden;
  height: 100vh;
}

.container h1 {
  padding-top: 1.5em;
  text-align: center;
  font-size: 4em;
}

.container .box {
  width: 90%;
  height: fit-content;
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container .box .elementBox {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid #49519a;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: center;
  transition: 0.3s;
}
.container .box .elementBox:hover {
  box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.6);
  transform: scale(1.02);
}
.container .box .elementBox img {
  width: 150px;
  height: auto;
}
