.container {
    width: 100vw;
    background: #161616;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-bottom: 2em;
    overflow: hidden;
    height: 100vh;
}

.container h1 {
    padding-top: 1.5em;
    text-align: center;
    font-size: 4em;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.container .box {
    width: 90%;
    height: fit-content;
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container .box .elementBox {
    width: 200px;
    height: 200px;
    background: #262626;
    border-radius: 5px;
    display: grid;
    place-items: center;
    transition: .3s;
}
.container .box .elementBox:hover {
    filter: brightness(1.6);
}
.container .box .elementBox img {
    width: 150px;
    height: auto;
}